<?php

$year = \date('Y');
$header = <<<EOF
Votifier PHP Client

@package   OAuth2-OrbitronDev
@author    Manuele Vaccari <manuele.vaccari@gmail.com>
@copyright Copyright (c) 2017-$year Manuele Vaccari <manuele.vaccari@gmail.com>
@license   https://github.com/D3strukt0r/oauth2-orbitrondev/blob/master/LICENSE.md MIT License
@link      https://github.com/D3strukt0r/oauth2-orbitrondev
EOF;

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@DoctrineAnnotation' => true,
        'array_syntax' => ['syntax' => 'short'],
        'linebreak_after_opening_tag' => true,
        'mb_str_functions' => true,
        'no_php4_constructor' => true,
        'no_unreachable_default_argument_value' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_imports' => true,
        'php_unit_strict' => true,
        'phpdoc_order' => true,
        'semicolon_after_instruction' => true,
        'strict_comparison' => true,
        'strict_param' => true,
        'header_comment' => [
            'commentType' => 'PHPDoc',
            'header' => $header,
        ],
    ])
    ->setFinder($finder)
    ->setCacheFile(__DIR__.'/.php_cs.cache')
;
